body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43737E;
}

.container-content {
    margin: 5%;
    text-align: center;
    max-width: 80%;
    width: 80%;
}

.container-content {
    max-width: 40%;
    height: auto;
}

.h1Login {
    font-family: 'Poppins', sans-serif;
    font-weight: 100; /* Letras más delgadas */
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
}


@media (min-width: 640px) {
    .h1Login {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    .h1Login {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .h1Login {
        font-size: 3.5rem;
    }
}

@media (min-width: 1280px) {
    .h1Login {
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Tamaño más pequeño en rem */
    }
}

.image-line {
    flex: 1;
    border: 2px solid #ccc;
    margin: 10px 0;
    width: 100%;
}

.square-container {
    margin: 20px;
    width: 90%;
    max-width: 700px;
    height: 600px;
    border: 2px solid #97B749;
    background-color: #97B749;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.inner-div {
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #97B749;
    align-items: center;
    justify-content: center;
}



.inner-div h1 {
    text-align: center;
    margin-bottom: 12%;
}

/* Tamaño base para la imagen */
.img-logo {
    width: 100%;
    max-width: 200px;
}

/* Media query para pantallas pequeñas (sm) */
@media (min-width: 640px) {
    .img-logo {
        max-width: 250px; /* Ajusta el tamaño para pantallas más grandes */
    }
}

/* Media query para pantallas medianas (md) */
@media (min-width: 768px) {
    .img-logo {
        max-width: 300px; /* Ajusta el tamaño para pantallas medianas */
    }
}

/* Media query para pantallas grandes (lg) */
@media (min-width: 1024px) {
    .img-logo {
        max-width: 350px; /* Ajusta el tamaño para pantallas grandes */
    }
}
