.white-container-tittle {
    display: flex;
    background-color: #438e8bb8; /* Fondo blanco */
    border: 1px solid #e0e0e0; /* Borde gris claro */
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 24px; /* Espacio interno */
    font-size: .8rem;
    align-items: center;
  }

  .white-container-table {
    background-color: #438e8bb8; /* Fondo blanco */
    border: 1px solid #e0e0e0; /* Borde gris claro */
    border-radius: 2px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 24px; /* Espacio interno */
  }