.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.events .badge {
  display: block;
  margin-bottom: 5px;
}

.activity-item {
  margin-bottom: 10px;
}

.select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #97B749;
}

@media (max-width: 850px) {
  .custom-flex-col {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .custom-calendar {
    width: 100% !important;
  }
}

.custom-calendar .ant-picker-calendar {
  background-color: #f3f4f6;
}

.custom-calendar .ant-picker-cell {
  background-color: #f3f4f6;
}

.custom-calendar .ant-picker-cell-in-view {
  background-color: #f3f4f6;
}

.custom-calendar .ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #f3f4f6;
  color: #000000;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.events li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.bullet-dueDate {
  background-color: #b73838;
}

.bullet-consejo {
  background-color: #e3b745;
}

.bullet-comite {
  background-color: #5c6fce;
}

.bullet-initDate {
  background-color: #62c567;
}
