.full-bar{
    background-color: #9db659;
    align-items: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: -8px;
    border-radius: 0px 0px 8px 8px;
}

.active {
    background-color: #4e727c !important;
  }
  
  .inactive {
    background-color: #9db659;
  }
.v-line{
    border-right: thick solid #ffffff;
    border-right-width: 2px;
    height: 100%;
}
.text-type{
    margin-left: 20%;
}
.text-hover:hover{
    background-color: #4e727c;
    color: #ffffff;
}
.text-hover:active{
    background-color: #4e727c;
    color: #ffffff;
}

.btn-class {
  background-color: #97B749;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 70% !important;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn-class:hover {
  background-color: #43737E;
}

.btn-class.selected {
  background-color: #43737E; /* Color cuando está seleccionado */
}

.btn-class span {
  transition: transform 0.3s ease;
}

.btn-class:hover span {
  transform: scale(1.1);
}


.margin {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}