.requestLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%
}


.button-return {
    height: 80px;
    width: 80px;
}

.iconButtonReturn{
    height: 70px;
    width: 70px;
}