.card-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    max-width: 250px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out; /* Transición suave para los cambios */
 }
 @keyframes fadeIn {
    from {
       opacity: 0;
       transform: translateY(20px);
    }
    to {
       opacity: 1;
       transform: translateY(0);
    }
 }
 
 
 /* Animación para reacomodar las cartas */
 @keyframes rearrange {
    0% {
       opacity: 0;
       transform: scale(0.9);
    }
    100% {
       opacity: 1;
       transform: scale(1);
    }
 }
 
 .card-col {
    animation: rearrange 0.3s ease-in-out;
    animation: fadeIn 0.6s ease;
 }
 
 .requestLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out; /* Transición para cambios en la disposición */
 }
 
 .mt-10 {
    margin-top: 10px;
 }
 