.form-color {
  border: 2px dashed #97b749; /* Ajustar el ancho en función del 80% del ancho de la pantalla */
}

.delete-icon {
  font-size: 22px; /* Tamaño del icono */
  color: #97b749; /* Color del icono */
  cursor: pointer; /* Cambiar el cursor a un puntero */
}

.uploaded-row {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  border-radius: 4px;
  background-color: #e9f0ff;
}
